/* @font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BoldItalic.ttf');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
} */
.hide {
  display: none;
}

/* #region Base */
html {
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, sans-serif;
  color: #111;
  background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion Base */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1168px) {
  .section {
    padding: 60px 0;
  }
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
  }
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .ingridients-title,
  .made-title,
  .products-title,
  .bestsellers-title,
  .reviews-title {
    max-width: 412px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.accent {
  color: #fd9222;
}
.btn {
  min-width: 120px;
  min-height: 40px;
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;

  transition: color 500ms ease-in, background-color 500ms ease-in,
    border-color 500ms ease-in;
}
@media only screen and (max-width: 767px) {
  .btn {
    padding: 10px 26px;
    font-size: 14px;
  }
}
.btn-accent {
  background-color: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.btn-light {
  color: #fff;
  border-color: #fff;
}
.btn-light:hover,
.btn-light:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: #fd9222;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background-color: #fd9222;
}
.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
/* #endregion Common */

/* #region Animation */
@media only screen and (min-width: 1168px) {
  @keyframes move-bottom {
    0% {
      transform: translateX(0) translateY(-200px);
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes move-right {
    0% {
      transform: translateX(-100px) translateY(0);
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes move-top {
    0% {
      transform: translateX(0) translateY(100px);
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
}
/* #endregion Animation */

/* #region Logo */
.logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding-top: 24px;
  padding-bottom: 18px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
@media only screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}
.logo-accent {
  font-style: italic;
}
/* #endregion Logo */

/* #region Menu */
.menu {
  display: flex;
  gap: 20px;
}
@media only screen and (min-width: 1168px) {
  .menu {
    gap: 24px;
  }
}
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 300ms ease-in;
}
@media only screen and (min-width: 1168px) {
  .menu-link {
    font-size: 16px;
  }
}
.menu-link.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 20px;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background: #fd9222;
}
.header-menu .menu-link {
  display: block;
  padding: 32px 0;
  color: #111;
}
.footer-menu .menu-link {
  color: #fff;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* #endregion Menu */

/* #region Socials */
.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #111;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;

  transition: 300ms ease-in;
  transition-property: color, border-color;
}
.socials-link:hover,
.socials-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
  color: #fd9222;
}
.socials-icon {
  fill: currentColor;
}
/* .socials-icon {
  fill: #111;
}
.socials-link:hover .socials-icon {
  fill: #fd9222;
} */
/* #endregion Socials */

/* #region Header */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    margin-right: 28px;
  }
}
@media only screen and (min-width: 1168px) {
  .header-nav {
    margin-right: 90px;
  }
}
.header-menu,
.header-socials {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-menu,
  .header-socials {
    display: flex;
  }
}
/* #endregion Header */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}
@media only screen and (max-width: 1167px) {
  .hero {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 767px) {
  .hero {
    padding: 0 20px 80px;
  }
}
.hero .container {
  padding: 395px 24px 20px 20px;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/hero-bg_mob@1x.jpg');
}
@media (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_mob@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero .container {
    padding: 671px 40px 40px 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@1x.jpg');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@2x.jpg');
  }
}
@media only screen and (min-width: 1168px) {
  .hero .container {
    padding: 40px;
    padding-top: 381px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@1x.jpg');
  }
}
@media only screen and (min-width: 1168px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@2x.jpg');
  }
}
.hero-title {
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    width: 484px;
    font-size: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-title {
    animation: move-bottom 500ms ease-in 500ms alternate both;
  }
}
.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .hero-wrapper {
    justify-content: space-between;
  }
}
.hero-list {
  display: inline-flex;
  gap: 14px;
}
@media only screen and (min-width: 1200px) {
  .hero-btn {
    animation: move-right 500ms ease-in both;
  }
  .hero-item:first-child .hero-btn {
    animation-delay: 1300ms;
  }
  .hero-item:last-child .hero-btn {
    animation-delay: 1000ms;
  }
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;

  transition: color 300ms ease;
}
@media only screen and (min-width: 768px) {
  .hero-link {
    font-size: 14px;
  }
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  background: #fff;
  border-radius: 50%;
  transition: background-color 300ms ease-in;
}
.hero-link:hover .hero-link-box,
.hero-link:focus .hero-link-box {
  background: #fd9222;
}
.hero-link-icon {
  fill: #fd9222;
  transition: fill 300ms ease-in;
}
.hero-link:hover .hero-link-icon,
.hero-link:focus .hero-link-icon {
  fill: #fff;
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
  padding: 20px 0;
  background: #1e1823;
}
@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 88px;
    row-gap: 44px;
  }
}
@media only screen and (min-width: 1168px) {
  .benefits-list {
    justify-content: center;
  }
}
.benefits-item {
  position: relative;
  max-width: 308px;
}
@media only screen and (min-width: 1168px) {
  .benefits-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: calc((100% - 124px) / 2);
    right: -44px;
    display: block;
    width: 1px;
    height: 51%;
    background: rgba(255, 255, 255, 0.5);
  }
}
.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.benefits-caption {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.benefits-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits */

/* #region Ingridients */
.ingridients {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .ingridients {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1168px) {
  .ingridients {
    padding-top: 120px;
  }
}
.ingridients-list {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .ingridients-list {
    gap: 32px;
  }
}
@media only screen and (min-width: 1168px) {
  .ingridients-list {
    row-gap: 24px;
  }
}
.ingridients-item {
  position: relative;
  width: 100%;

  padding: 28px 23px;

  background: #fff;
  border: 1px solid #fd9222;
  border-radius: 15px;
}
@media only screen and (max-width: 767px) {
  .ingridients-item:nth-last-child(-n + 3) {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .ingridients-item {
    width: calc((100% - 32px * 1) / 2);
  }
}
@media only screen and (min-width: 1168px) {
  .ingridients-item {
    width: calc((100% - 32px * 3) / 4);
  }
}
.ingridients-item:nth-child(4n + 1) {
  background: #fd9222;
  color: #fff;
  border-color: transparent;
}
.ingridients-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
  border-color: transparent;
}
.ingridients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingridients-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  stroke: #fff;
}
.ingridients-item:nth-child(2n) .ingridients-icon {
  stroke: #fd9222;
}
.ingridients-ill {
  margin: 0 auto;
}
.ingridients-caption {
  margin-top: 16px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@media only screen and (min-width: 1168px) {
  .ingridients-caption {
    margin-top: 36px;
  }
}
/* #endregion Ingridients */

/* #region Made */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .made > .container {
    padding: 0 61px;
  }
}
.made-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media only screen and (min-width: 1200px) {
  .made-wrapper {
    flex-direction: row;
  }
}
.made-left-side {
  position: relative;
  max-height: 500px;
  height: 100vh;

  border-radius: 15px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .made-left-side {
    max-width: 614px;
    max-height: 400px;
  }
}
.made-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.made-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background: transparent;
}
@media only screen and (min-width: 768px) {
  .made-btn {
    width: 44px;
    height: 44px;
  }
}
.made-btn-icon {
  fill: none;
  stroke: #fff;
}
.made-right-side {
  padding: 20px 14px;

  border-radius: 15px;
  background: #fff;
}
@media only screen and (min-width: 768px) {
  .made-right-side {
    padding: 32px;
  }
}
.made-subtitle {
  max-width: 350px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
@media only screen and (min-width: 768px) {
  .made-subtitle {
    margin-bottom: 28px;
  }
}
.made-list {
  max-width: 464px;
}
@media only screen and (min-width: 1200px) {
  .made-list {
    min-width: 452px;
  }
}
.made-item {
  display: flex;
  gap: 8px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:not(:last-child) {
  margin-bottom: 18px;
}
@media only screen and (min-width: 1200px) {
  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
.made-item::before {
  content: '';
  flex-shrink: 0;

  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 5px;

  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
/* #endregion Made */

/* #region Products */
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media only screen and (min-width: 1200px) {
  .products-list {
    gap: 24px 18px;
  }
}
.products-item {
  width: 100%;

  padding: 32px 20px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  text-align: center;
}
@media only screen and (min-width: 768px) {
  .products-item {
    width: calc((100% - 32px * 1) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .products-item {
    width: calc((100% - 18px * 3) / 4);
  }
}
.products-ill {
  margin: 0 auto;
}
.products-heading {
  margin: 8px 0 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-category {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-price {
  padding: 8px 20px;
  font-weight: 600;
  line-height: 1.21;

  background: #fafafa;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
/* #endregion Products */

/* #region Bestsellers */
.bestsellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .bestsellers-item {
    width: calc((100% - 16px * 1) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .bestsellers-item {
    width: calc((100% - 16px * 2) / 3);
  }
}
@media only screen and (max-width: 767px) {
  .bestsellers-item:nth-last-child(-n + 2) {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .bestsellers-item:nth-last-child(-n + 1) {
    display: none;
  }
}
.bestsellers-thumb {
  position: relative;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 500ms ease-in;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
  backdrop-filter: blur(15px);
  background: linear-gradient(161deg, #fdfdff 0%, rgba(8, 2, 21, 0) 100%);
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
.bestsellers-ill {
}
.bestsellers-wrapper {
  padding: 28px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  border-radius: 0 0 15px 15px;
  background: #fff;
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
/* #endregion Bestsellers */

/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 91px;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin-bottom: 50px;
}
@media only screen and (min-width: 1200px) {
  .reviews-list {
    gap: 28px;
  }
}
.reviews-item {
  position: relative;
  width: 360px;
  padding: 24px;
  padding-top: 56px;
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}
@media only screen and (max-width: 767px) {
  .reviews-item:nth-last-child(-n + 2) {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .reviews-item:nth-last-child(-n + 1) {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .reviews-item {
    width: calc((100% - 16px * 1) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .reviews-item {
    width: calc((100% - 28px * 2) / 3);
  }
}
.reviews-avatar {
  position: absolute;
  top: -42px;
  left: calc((100% - 80px) / 2);
}
.reviews-author {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/* #endregion Reviews */

/* #region Footer */
.footer {
  padding: 32px 0;
  background: #1e1823;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 50px 0;
  }
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (min-width: 768px) {
  .footer-top {
    flex-wrap: nowrap;
    padding-bottom: 50px;
    gap: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-top {
    gap: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    margin-left: auto;
  }
}
.footer-slogan {
  max-width: 300px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer-slogan {
    font-size: 28px;
  }
}
.footer-slogan-accent {
  color: #fd9222;
}
.footer-caption {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #fff;
}
.footer .socials-link {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
.footer-bottom {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .footer-bottom {
    padding-top: 24px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 18px 16px;
}
@media only screen and (min-width: 768px) {
  .footer-menu {
    flex-direction: row;
  }
}
.footer-menu-link {
  display: block;
  padding: 15px 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;

  transition: color 300ms ease;
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}
.footer-form {
  display: flex;
  gap: 8px;
}
.footer-form-input {
  max-width: 313px;
  width: 100%;
  padding: 14px 18px;

  outline: transparent;
  background: transparent;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  transition: border-color 300ms ease, box-shadow 300ms ease;
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    padding: 14px 24px;
  }
}
.footer-form-input:focus {
  color: #fff;
  border-color: #fd9222;
  box-shadow: 0 0 0 6px rgba(253, 146, 34, 0.25);
}
.footer-form-input::placeholder {
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
@media only screen and (min-width: 1199px) {
  .footer-form-input::placeholder {
    font-size: 18px;
  }
}
.footer .btn-accent {
  min-width: 120px;
  padding: 14px 0;
}
@media only screen and (min-width: 768px) {
  .footer .btn-accent {
    min-width: 128px;
  }
}
@media only screen and (min-width: 1168px) {
  .footer .btn-accent {
    min-width: 137px;
  }
}
/* #endregion Footer */

/* #region Contacts */
.contacts {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 300ms ease-in;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #fd9222;
}
/* #endregion Contacts */

/* #region Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
  transition-delay: 300ms;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.2);

  width: 517px;
  min-height: 794px;
  padding: 40px;
  background: #fafafa;
  border-radius: 15px;
  opacity: 0;
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition-delay: 0ms;
}
.backdrop.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition-delay: 300ms;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 28px;
  height: 28px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #111111;
  border: none;
  background-color: transparent;
}
.modal-btn-icon {
  stroke: currentColor;
}
.modal-caption {
  width: 298px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.modal-caption-accent {
  color: #fd9222;
}
/* Form */
.modal-form {
}
.modal-form-field {
  margin-bottom: 18px;
}
.modal-form-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-box {
  position: relative;
  margin-top: 8px;
}
.modal-form-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  outline: transparent;
  transition: border-color 300ms ease-in;
}
.modal-form-input:focus {
  border-color: #fd9222;
}
.modal-form-icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  stroke: #404040;
  fill: transparent;
  transition: stroke 300ms ease-in;
}
.modal-form-input:focus + .modal-form-icon {
  stroke: #fd9222;
}
.modal-form-message {
  display: block;
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  margin-top: 8px;
  font-size: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  outline: transparent;
  resize: none;
  transition: border-color 300ms ease-in;
}
.modal-form-message:focus {
  border-color: #fd9222;
}
.modal-form-message::placeholder {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-agreement {
  margin-top: 18px;
  margin-bottom: 40px;
}
.agreement {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out,
    box-shadow 300ms ease-in-out;
}
input[type='checkbox']:checked + .agreement .agreement-checkbox {
  background: #fd9222;
  border-color: #fd9222;
}
input[type='checkbox']:focus-visible + .agreement-checkbox {
  box-shadow: 0 0 0 4px rgba(253, 146, 34, 0.25);
}
.agreement-checkbox-icon {
  opacity: 0;
  fill: #fff;
  transition: opacity 300ms ease-in-out;
}
input[type='checkbox']:checked
  + .agreement
  > .agreement-checkbox
  > .agreement-checkbox-icon {
  opacity: 1;
}
.agreement-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
/* #endregion Modal window */

/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
  background: #ffffff;
}
.mobile-menu.is-open {
  transform: translateX(0);
  transition-timing-function: ease-in;
}
.menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #111;
}
.mobile-menu-icon {
  stroke: #111;
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu-link.current {
  color: #404bbf;
}
.mobile-menu-contatcs {
  margin-bottom: 48px;
}
.mobile-menu-contact:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contatc-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-contatc-link.accent {
  color: #4d5ae5;
}
.mobile-menu-socials {
  gap: 40px;
}
/* #endregion Mobile menu */
