/* #region Base */
html {
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, sans-serif;
  color: #111;
  background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion Base */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 60px 0;
}
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
  /*
  outline: 2px solid red;
  outline-offset: -2px; */
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.accent {
  color: #fd9222;
}
.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;

  /* transition-property: color, background-color, border-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 0s; */
  transition: color 500ms ease-in, background-color 500ms ease-in,
    border-color 500ms ease-in;
}
.btn-accent {
  background-color: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.btn-light {
  color: #fff;
  border-color: #fff;
}
.btn-light:hover,
.btn-light:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: #fd9222;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background-color: #fd9222;
}
/* #endregion Common */

/* #region Animation */
@keyframes move-bottom {
  0% {
    transform: translateX(0) translateY(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes move-right {
  0% {
    transform: translateX(-100px) translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes move-top {
  0% {
    transform: translateX(0) translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
/* #endregion Animation */

/* #region Logo */
.logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-accent {
  font-style: italic;
}
/* #endregion Logo */

/* #region Menu */
.menu {
  display: flex;
  gap: 24px;
}
.menu-item {
}
.menu-link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 300ms ease-in;
}
.menu-link.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 20px;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background: #fd9222;
}
.header-menu .menu-link {
  display: block;
  padding: 32px 0;
  color: #111;
}
.footer-menu .menu-link {
  color: #fff;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* #endregion Menu */

/* #region Socials */
.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #111;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;

  transition: 300ms ease-in;
  transition-property: color, border-color;
}
.socials-link:hover,
.socials-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
  color: #fd9222;
}
.socials-icon {
  fill: currentColor;
}
/* .socials-icon {
  fill: #111;
}
.socials-link:hover .socials-icon {
  fill: #fd9222;
} */
/* #endregion Socials */

/* #region Header */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 90px;
}
.header-socials {
}
/* #endregion Header */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}
.hero .container {
  padding: 40px;
  padding-top: 381px;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.1),
      rgba(17, 17, 17, 0.1)
    ),
    url('../images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;

  animation: move-bottom 500ms ease-in 2s both;
}
.hero-list {
  display: flex;
  gap: 14px;

  margin-right: auto;
}
.hero-item:first-child > .btn {
  animation: move-right 500ms cubic-bezier(0, 1.14, 1, 1.19) 2700ms both;
}
.hero-item:last-child > .btn {
  animation: move-right 500ms cubic-bezier(0, 1.14, 1, 1.19) 2500ms both;
}
.hero-wrapper {
  display: flex;
}
.hero-btn {
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 300ms ease-in;

  /* animation: move-top 500ms cubic-bezier(0, 1.1, 1, 1.32) 4000ms both; */
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-decor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  color: #fd9222;
  background: #fff;
  border-radius: 50%;

  transition: 300ms ease-in;
  transition-property: color, background-color;
}
.hero-link:hover .hero-link-decor,
.hero-link:focus .hero-link-decor {
  color: #fff;
  background: #fd9222;
}
.hero-link-icon {
  fill: currentColor;
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
  padding: 50px 0;
  background: #1e1823;
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  position: relative;
  width: 308px;
}
.benefits-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: calc((100% - 124px) / 2);
  right: -44px;
  display: block;
  width: 1px;
  height: 51%;
  background: rgba(255, 255, 255, 0.5);
}
.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.benefits-icon {
}
.benefits-caption {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.benefits-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits */

/* #region Ingridients */
.ingridients {
  padding-top: 120px;
}
.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingridients-item {
  position: relative;

  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;

  background: #fff;
  border: 1px solid #fd9222;
  border-radius: 15px;
}
/* a * n + b */
.ingridients-item:nth-child(4n + 1) {
  background: #fd9222;
  color: #fff;
  border-color: transparent;
}
.ingridients-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
  border-color: transparent;
}
.ingridients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingridients-icon {
  position: absolute;
  top: 14px;
  /* right: 14px; */
  left: 222px;
  stroke: #fff;
}
.ingridients-item:nth-child(2n) .ingridients-icon {
  stroke: #fd9222;
}
.ingridients-ill {
}
.ingridients-caption {
  margin-top: 36px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion Ingridients */

/* #region Made */
.made {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  flex-basis: 600px;
}
.made-pic {
}
.made-right-side {
  flex-basis: 516px;
  padding: 32px;

  border-radius: 15px;
  background: #fff;
}
.made-subtitle {
  margin-bottom: 28px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  display: flex;
  gap: 8px;
  /* margin-bottom: 24px; */
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* .made-item:last-child {
  margin-bottom: 0;
} */

.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-item::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 5px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
/* #endregion Made */

/* #region Products */
.products {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.products-item {
  width: calc((100% - 18px * 3) / 4);
  padding: 32px 20px;
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.products-ill {
}
.products-heading {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
.products-category {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
}
.products-price {
  display: block;
  margin: 0 auto;
  padding: 8px 20px;
  font-weight: 600;
  line-height: 1.21;

  background-color: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
/* #endregion Products */

/* #region Bestsellers */
.bestsellers {
}
.bestsellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.bestsellers-item {
  width: calc((100% - 16px * 2) / 3);
}
.bestsellers-thumb {
  position: relative;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 500ms ease-in;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
  backdrop-filter: blur(15px);
  background: linear-gradient(161deg, #fdfdff 0%, rgba(8, 2, 21, 0) 100%);
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
.bestsellers-ill {
}
.bestsellers-wrapper {
  padding: 28px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  border-radius: 0 0 15px 15px;
  background: #fff;
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
/* #endregion Bestsellers */

/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 91px;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;

  margin-bottom: 50px;
}
.reviews-item {
  position: relative;
  width: calc((100% - 28px * 2) / 3);
  padding: 55px 24px 24px;
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}
.reviews-avatar {
  position: absolute;
  top: -42px;
  left: calc((100% - 80px) / 2);
}
.reviews-author {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/* #endregion Reviews */

/* #region Footer */
.footer {
  padding: 50px 0;
  background: #1e1823;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer .container::before {
  content: '';
  order: 1;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-top {
  display: flex;
}
.footer-slogan {
  margin-right: auto;
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-slogan-accent {
  color: #fd9222;
}
.footer-wrapper {
  margin-right: 50px;
}
.footer-address {
}
.footer-caption {
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #fff;
}
.footer-socials .socials-link {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
.footer-socials .socials-link:hover {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}
.footer-contatcs {
}
.footer-bootom {
  order: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu {
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 458px;
  width: 100%;
}
.footer-form-label {
  max-width: 313px;
  width: 100%;
}
.footer-form-input {
  width: 100%;
  height: 52px;
  padding: 13px 24px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #fff;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background: transparent;
  outline: transparent;
  transition: border-color 300ms ease-in;
}
.footer-form-input:focus {
  border-color: #fff;
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.footer-btn {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  min-width: 137px;
  padding: 17px 32px;
  font-size: 14px;
  line-height: 1.29;
}
/* #endregion Footer */

/* #region Contacts */
.contacts {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 300ms ease-in;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #fd9222;
}
/* #endregion Contacts */

/* #region Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
  transition-delay: 300ms;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.2);

  width: 517px;
  min-height: 794px;
  padding: 40px;
  background: #fafafa;
  border-radius: 15px;
  opacity: 0;
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition-delay: 0ms;
}
.backdrop.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition-delay: 300ms;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 28px;
  height: 28px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #111111;
  border: none;
  background-color: transparent;
}
.modal-btn-icon {
  stroke: currentColor;
}
.modal-caption {
  width: 298px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.modal-caption-accent {
  color: #fd9222;
}
/* Form */
.modal-form {
}
.modal-form-field {
  margin-bottom: 18px;
}
.modal-form-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-box {
  position: relative;
  margin-top: 8px;
}
.modal-form-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  outline: transparent;
  transition: border-color 300ms ease-in;
}
.modal-form-input:focus {
  border-color: #fd9222;
}
.modal-form-icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  stroke: #404040;
  fill: transparent;
  transition: stroke 300ms ease-in;
}
.modal-form-input:focus + .modal-form-icon {
  stroke: #fd9222;
}
.modal-form-message {
  display: block;
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  margin-top: 8px;
  font-size: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  outline: transparent;
  resize: none;
  transition: border-color 300ms ease-in;
}
.modal-form-message:focus {
  border-color: #fd9222;
}
.modal-form-message::placeholder {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-agreement {
  margin-top: 18px;
  margin-bottom: 40px;
}
.agreement {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out,
    box-shadow 300ms ease-in-out;
}
input[type='checkbox']:checked + .agreement .agreement-checkbox {
  background: #fd9222;
  border-color: #fd9222;
}
input[type='checkbox']:focus-visible + .agreement-checkbox {
  box-shadow: 0 0 0 4px rgba(253, 146, 34, 0.25);
}
.agreement-checkbox-icon {
  opacity: 0;
  fill: #fff;
  transition: opacity 300ms ease-in-out;
}
input[type='checkbox']:checked
  + .agreement
  > .agreement-checkbox
  > .agreement-checkbox-icon {
  opacity: 1;
}
.agreement-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
/* #endregion Modal window */
