/* #region Base */
body {
  font-family: Montserrat, sans-serif;
  color: #111;
  background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion Base */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 60px 0;
}
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.accent {
  color: #fd9222;
}
.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
}
.btn-accent {
  background-color: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.btn-light {
  color: #ffffff;
  border-color: #fff;
}
.btn-light:hover,
.btn-light:focus {
  color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: #fd9222;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #ffffff;
  background-color: #fd9222;
}
/* #endregion Common */

/* #region Logo */
.logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-accent {
  font-style: italic;
}
/* #endregion Logo */

/* #region Menu */
.menu {
  display: flex;
  gap: 24px;
}
.menu-item {
}
.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-menu .menu-link {
  display: block;
  padding: 32px 0;
  color: #111;
}
.footer-menu .menu-link {
  color: #fff;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* #endregion Menu */

/* #region Socials */
.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}
/* #endregion Socials */

/* #region Header */
.header {
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 90px;
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-link:hover,
.header-link:focus {
  color: #fd9222;
}
/* #endregion Header */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}
.hero .container {
  padding: 40px;
  padding-top: 381px;
  background: rgba(17, 17, 17, 0.7);
  border-radius: 30px;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-list {
  display: flex;
  gap: 14px;

  margin-right: auto;
}
.hero-item {
}
.hero-wrapper {
  display: flex;
}
.hero-btn {
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-icon {
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
  padding: 50px 0;
  background: #1e1823;
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  width: 308px;
}
.benefits-caption {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.benefits-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits */

/* #region Ingridients */
.ingridients {
  padding-top: 120px;
}
.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingridients-item {
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;

  background: #fff;
  border: 1px solid #fd9222;
  border-radius: 15px;
}
/* a * n + b */
.ingridients-item:nth-child(4n + 1) {
  background: #fd9222;
  color: #fff;
  border-color: transparent;
}
.ingridients-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
  border-color: transparent;
}
.ingridients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingridients-ill {
}
.ingridients-caption {
  margin-top: 36px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion Ingridients */

/* #region Made */
.made {
}
.made-pic {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* #endregion Made */

/* #region Products */
.products {
}
.products-list {
}
.products-item {
  background: #fff;
}
.products-ill {
}
.products-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-category {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-price {
  font-weight: 600;
  line-height: 1.21;

  background-color: #fafafa;
}
/* #endregion Products */

/* #region Bestsellers */
.bestsellers {
}
.bestsellers-list {
}
.bestsellers-item {
  background: #fff;
}
.bestsellers-img {
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion Bestsellers */

/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-list {
}
.reviews-item {
  background: #fff;
}
.reviews-avatar {
}
.reviews-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
/* #endregion Reviews */

/* #region Footer */
.footer {
  background: #1e1823;
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-slogan-accent {
  color: #fd9222;
}
.footer-address {
}
.footer-caption {
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}
.footer-contatcs {
}
.footer-menu {
}
/* #endregion Footer */

/* #region Contacts */
.contacts {
}
.contacts-item {
}
.contacts-link {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #fd9222;
}
/* #endregion Contacts */
