/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

section {
  width: 700px;
  outline: 2px solid red;
}

p {
  width: 400px;

  background-color: blueviolet;

  padding: 30px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0px;
  margin-bottom: 80px;

  border: 2px dashed lightblue;
  border-radius: 20px;
}
